[submodule "codemirror-mode-ipaddr"]
	path = codemirror-mode-ipaddr
	url = https://github.com/xavierog/codemirror-mode-ipaddr
[submodule "codemirror-mode-pcre"]
	path = codemirror-mode-pcre
	url = https://github.com/xavierog/codemirror-mode-pcre
[submodule "codemirror-mode-variables"]
	path = codemirror-mode-variables
	url = https://github.com/xavierog/codemirror-mode-variables
[submodule "codemirror-mode-nginx-renewed"]
	path = codemirror-mode-nginx-renewed
	url = https://github.com/xavierog/codemirror-mode-nginx-renewed
